html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
}

/* #region TEXT */
h1, p, img {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}
/* #endregion */